*{
    font-family: "Roboto", sans-serif;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    max-height: 80vh;
    overflow: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}


.modal--description {
    margin-right: 20px;
    text-align: justify;
    min-height: 440px;
}

.modal--description img {
    height: 40%;
    width: 40%;
    float: left;
    max-width: 280px;
    margin-right: 1rem;
}

.average{
    color: rgb(2, 215, 2);
    font-weight: bold;
}

.info--movie {
    display: flex;
    flex-direction: row;
}

.info--movie p {
    line-height: 1.6; 
    text-align: justify;
    margin-right: 2em; 
    
    
}

.info--movie p:last-child {
    overflow: auto;
    margin-right: 0;
}

.actors--modal {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    
}

.plus--info {
    padding: 10px 20px;
    border-top: 1px solid #ddd;
  }

.actors--modal p{
    padding-right:1rem;
}

@media (max-width: 855px) {
    .actors--modal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width: 390px) {
    .actors--modal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .modal--description {
        min-height: 200px;
    }
}

@media (max-width: 500px) {
    .modal--description img {
        float: none;
        width: 200px;
        margin-left: 0.7rem;
    }
}