@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

.featured {
    height: 100vh;
}

.featured--vertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featured--horizontal {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 8rem;
    padding-top: 8rem;
    background: linear-gradient(to right, #111 30%, transparent 70%);
}

.featured--name {
    font-size: 60px;
    font-weight: bold;
}

.featured--info {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.featured--points {
    display: inline-block;
    color: #46d369;
    margin-right: 15px;
}

.featured--year, .featured--points, .featured--seasons {
    display: inline-block;
    margin-right: 15px;
}

.featured--description {
    margin-top: 15px;
    font-size: 20px;
    color: #999;
    max-width: 40% ;
}

.featured--buttons {
    margin-top: 15px;
}

.featured--addButton,
.featured--watchButton {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    opacity: 1;
    transition: all ease 0.5s;
}

.featured--addButton:hover,
.featured--watchButton:hover {
    opacity: 0.7;
}
.featured--watchButton {
    background-color: #FFF;
    color: #000;
}

.featured--addButton{
    background-color: #333;
    color: #FFF;
}

.featured--genres {
    margin-top: 15px;
    font-size: 18px;
    color: #999;
}

@media (max-width: 760px) {
    .featured {
        height: 90vh;
    }
    .featured--name {
        font-size: 40px;
    }
    .featured--info {
        font-size: 16px;
    }
    .featured--description {
        font-size: 14px;
        max-width: 100%;
        margin-right: 30px;
    }
    .featured--addButton,
    .featured--watchButton {
        font-size: 16px;
    }
    .featured--genres {
        font-size: 14px;
    }
}